body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}

.pageLoader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  margin: auto;
   height: 100vh;
  width: 100%;
  background: rgba(74, 74, 75, 0.6);
}